@import url('https://fonts.googleapis.com/css2?family=Syne:wght@400..800&display=swap');

body {
  font-family: "Syne", sans-serif;
  font-weight: 400;
  font-size: 24px;
  background: #E9E9E9;
  margin-top: 32px;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
}

a {
  text-decoration: none;
  color: #000000;
}

.container {
  width: 1240px;
  margin: auto;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  position: sticky;
  top: 0;
  z-index: 1000;
  width: 1336px;
  height: 100px;
  border-radius: 10px;
  background: #FFFFFF;
  margin: auto;
}

.header__logo {
  padding-left: 18px;
}

.header__nav {
  display: flex;
  gap: 48px;
}

.header__link {
  font-size: 18px;
}

.order_now {
  padding: 18px 24px;
  font-size: 18px;
  background: #E9FF61;
  margin-right: 18px;
}

.order_now::after {
  content: "";
  display: inline-block;
  width: 14px;
  height: 14px;
  margin-left: 13px;
  background: url("images/strelka.png") no-repeat center / contain;
}

.welcome .container {
 display: flex;
 flex-direction: column;
 align-items: center;
}

.welcome__title {
  width: 1200px;
  height: 284px;
  padding-top: 100px;
  margin: 0;
  font-weight: 680;
  text-align: center;
  font-size: 236px;
  letter-spacing: 0.04em;
  color: #000000;
}

.welcome__img {
  margin: -150px;
 width: 821px;
 height: 398px;
}

.welcome__subtitle {
  margin: 0;
  font-weight: 700;
  font-size: 236px;
  letter-spacing: 0.04em;
  text-align: center;
  color: #e7e5e5;
  z-index: -1;
}

.welcome__info {
  padding-top: 75px;
}

.welcome__info .container {
display: flex;
flex-direction: row;
gap: 60px;
justify-content: center;
}

.welcome_text {
  display: flex;
  justify-content: center;
}

.info__title {
  margin: 0;
  font-weight: 600;
  font-size: 80px;
  text-transform: uppercase;
  color: #000000;
}

.info__subtitle {
  margin: 0;
  padding-left: 22px;
  font-size: 24px;
  color: #999999;
}

.chargers {
 padding-top: 150px;
 padding-bottom: 100px;
}

.charger__header {
  text-align: center;
}

.chargers__link {
  cursor: default;
  padding: 10px 20px;
  background: #EDF2F6;
}

.chargers__title {
  font-size: 50px;
  color: #000000;
}

.charger__cards {
  display: flex;
  gap: 20px;
  align-items: center;
  justify-content: center;
}

.price__wrapper {
  display: flex;
  gap: 10px;
}

.charger__img {
  width: 370px;
  height: 445px;
}

.charger-info__title {
  margin: 0;
  font-size: 20px;
  color: #000000;
}

.charger-info__subtitle {
  width: 370px;
  height: 66px;
  font-size: 18px;
  color: #999999;
}

.charger__price {
  font-size: 24px;
  color: #999999;
}

.charger-price__discount {
  font-size: 24px;
  color: #000000;
}

.futures {
  padding-bottom: 100px;
}

.header__futures {
  display: flex;
}

.futures-header__title {
  font-size: 49px;
  text-transform: capitalize;
  width: 750px;
}

.futures-header__uptitle {
  font-size: 18px;
}

.futures-header__desc {
  width: 344px;
  height: 132px;
  padding-top: 100px;
  padding-left: 177px;
  font-size: 18px;
  color: #999999;
}

.main__futures {
  display: flex;
  padding-top: 60px;
  gap: 20px;
}

.futures-join__title {
  margin: 0;
  padding-top: 100px;
}

.futures-join__desc {
  font-size: 18px;
  color: #999999;
}

.futures__join-2 {
  width: 100%;
  display: block;
  align-items: flex-end;
  padding: 0px 24px;
  padding-top: 271px;
  background: url(images/join_img.png);
}

.futures-join__blur {
  padding-left: 25px;
  backdrop-filter: blur(20px);
  border-radius: 10px;
  border: 1px solid #FFFFFF;
  width: 562px;
  height: 235px;
  margin-bottom: 24px;
}

.blur__title {
  padding-top: 30px;
  margin: 0;
  font-size: 36px;
  color: #fff;
  text-transform: capitalize;
}

.blur__desc {
  font-size: 18px;
  padding-bottom: 20px;
  color: #E9E9E9;
}

.blur__btn {
  padding: 12px 38px;
  background: #E9FF61;
}

.mobility {
  background-color: #000000;
  padding-top: 128px;
  padding-bottom: 128px;
}

.header__mobility {
 text-align: center;
}

.mobility .chargers__link {
  background-color: #242323;
  color: #fff;
}

.mobility .chargers__title {
  color: #fff;
}

.main__mobility {
  height: 600px;
  max-width: 1200px;
  display: grid;
  gap: 20px;
  grid-template-areas: 
    "reviews reviews car"
    "miles logo car"
    "miles innov car";

  grid-template-columns: 1fr 1fr 1.5fr;
  grid-template-rows: repeat(3, minmax(175px, auto));
}

.card-1 {
  grid-area: reviews; 
  background-color: #242323;
}

.card-1__titile {
  display: flex;
  font-size: 42px;
  margin: 0 32px;
  margin-top: 15px;
  position: relative;
  color: #fff;
}

.card-1__titile::after {
  content: "";
  position: absolute;
  top: 10px;
  right: -10px;
  width: 74px;
  height: 74px;
  background: url("images/molnia.png") no-repeat center / contain;
}

.card-1__subtitle {
  margin: 10px 32px;
  font-size: 18px;
  color: #E9FF61;
}

.card-1__text {
  display: flex;
  gap: 12px;
  font-size: 18px;
  color: #EDF2F6;
}

.card-1__text::before {
  content: "";
  width: 53px;
  height: 30px;
  margin-left: 32px;
  background: url("images/owners.png") no-repeat center / contain;
}

.card-2 {
  grid-area: miles; 
  background: url(images/card2-back.png) no-repeat;
}

.evlink {
  display: inline-block;
  margin: 24px;
  font-size: 18px;
  color: #E9E9E9;
  padding: 10px 10px;
  background: #000000;
}

.card-2__title {
  margin: 0;
  margin-left: 24px;
  margin-top: 130px;
  font-weight: 600;
  font-size: 80px;
}

.card-2__subtitle {
  font-size: 24px;
  margin-left: 24px;
  margin-top: 0px;
}

.card-3 {
  grid-area: logo;
  background: url(images/logo2.png);
}

.card-4 {
  grid-area: innov; 
  background-color: #242323;
}

.battery__img {
  margin-left: 24px;
  margin-top: 24px;
}

.card-4__subtitle {
 color: #E9E9E9;
 font-size: 18px;
 margin-left: 24px;
}

.card-5 {
  grid-area: car; 
  background-image: url(images/card-5.jpg);
}

.card-5__title {
  display: flex;
  align-items: center;
  font-size: 24px;
  color: #E9E9E9;
  gap: 12px;
}

.card-5__title::before {
  content: "";
  width: 42px;
  height: 42px;
  margin-left: 32px;
  background: url("images/molnia.png") no-repeat center / contain;
}

.subtitle {
  font-weight: 600;
  font-size: 80px;
  text-transform: uppercase;
  color: #E9E9E9;
  margin: 32px;
  margin-top: 300px;
}

.comfort {
  padding-top: 150px;
}

.comfort .container {
text-align: center;
}

.comfort__wrapper {
  display: flex;
  justify-content: center;
  gap: 61px;
  padding-top: 80px;
}

.reserve { 
  padding-top: 128px;
  padding-bottom: 128px;
}

.reserve__wrapper {
  min-width: 500px ;
}

.reserve .container {
  display: flex;
  gap: 25px;
}

.reserve__text {
  font-size: 18px;
}

.reserve__title {
  font-size: 42px;
  font-weight: 400;
}

.reserve__row {
  display: flex;
  gap: 25px;
  margin-bottom: 25px;
}

.reserve__wrapper input {
  width: 100%;
  background-color: #f0f4f7;
  border: none;
  border-radius: 4px;
  padding: 15px;
  font-size: 16px;
  outline: none;
  box-sizing: border-box;
}

.reserve__path {
 display: flex;
 flex-direction: column;
 gap: 25px;
  margin-bottom: 25px;
}

.reserve__email, 
.reserve__message {
  margin-bottom: 60px;
  width: 100%;
}

.book__btn {
  padding: 18px 24px;
  font-size: 18px;
  color: #E9FF61;
  background: #000000;
}

.tesla__img {
  width: 774px;
  height: 339px;
  margin-top: 80px;
  margin-left: 60px;
}

.footer {
  background: #000000;
  padding-top: 50px;
  height: 350px;
}

.footer__wrapper {
  display: flex;
  gap: 90px;
  padding: 50px;
}

.footer__logo {
  width: 206px;
  height: 78px;
  padding-right: 219px;
}

.footer__column {
  display: inline-flex;
  flex-direction: column;
  gap: 16px;
}

.footer-column_text_active {
  font-size: 18px;
  color: #E9E9E9;
  padding-bottom: 15px;
}

.footer-column_text {
  font-size: 18px;
  color: #FFFFFF;
  opacity: 0.7;
}

